<form id="addProjectForm">
    <div class="mb-3">
        <label class="form-label" for="projectTitle">Tytuł projektu</label>
        <input class="form-control" id="projectTitle" required type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="projectDescription">Opis projektu</label>
        <textarea class="form-control" id="projectDescription" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="projectWeight">Waga projektu</label>
        <select class="form-select" id="projectWeight">
            <option value="1">Niski</option>
            <option value="2">Średni</option>
            <option value="3">Wysoki</option>
        </select>
    </div>
</form>